html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 90%;
        margin: 0px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      
    }
    
    .slick-active {
     
    }

    .slick-current {
     
    }

#tudo_home18 {
	width: 1100;
	
}
#carrossel {
	position: relative;
	width: 1080;
	z-index: 1;
	height: 95px;
	padding-top: 15px;
}
#bloco1 {
	position: relative;
	width: 1080;
	z-index: 2;
	height: 630;
	/* background-color: aqua; */
}
#b1_prod1 {
	position: absolute;
	left: 38px;
	top: 80px;
	width: 320px;
	height: 240px;
	z-index: 3;
	background-image: url(../../../images/2018/home/base_latao.jpg);
	background-repeat: no-repeat;
	background-size: 330px;
}
#b1_prod2 {
	position: absolute;
	left: 377px;
	top: 80px;
	width: 320px;
	height: 240px;
	z-index: 3;
	background-image: url(../../../images/2018/home/bands_brasil.jpg);
	background-repeat: no-repeat;
	background-size: 330px;
}
#b1_prod3 {
	position: absolute;
	left: 38px;
	top: 345px;
	width: 320px;
	height: 240px;
	z-index: 3;
	background-image: url(../../../images/2018/home/bands_mesa.jpg);
	background-repeat: no-repeat;
	background-size: 330px;
}
#b1_prod4 {
	position: absolute;
	left: 377px;
	top: 345px;
	width: 320px;
	height: 240px;
	z-index: 3;
	background-image: url(../../../images/2018/home/bands_perso.jpg);
	background-repeat: no-repeat;
	background-size: 331px;
}
#b1_prod5 {
    position: absolute;
    left: 713px;
    top: 80px;
    width: 380px;
    height: 573px;
    z-index: 3;
    background-image: url(../../../images/2018/home/mastro_ferro.jpg);
    background-repeat: no-repeat;
    background-size: 365px;
}
#txt_prod1 {
	position: absolute;
	left: 0px;
	top: 185px;
	width: 311px;
	height: 60px;
	z-index: 3;
	text-align: center;
}
#txt_prod3 {
    position: absolute;
    left: 6px;
    top: 145px;
    width: 319px;
    height: 60px;
    z-index: 3;
    text-align: center;
}
#tit_prod1 {
	position: absolute;
	top: -39px;
	width: 280;
	height: 60px;
	z-index: 3;
}
#div_sep {
	position: relative;
	left: 100px;
	width: 865px;
	height: 2px;
	z-index: 3;
	background-color: #CCCCCC;
	top: 12;
}

#bloco2 {
	position: relative;
	width: 1080;
	height: 305px;
	z-index: 4;
	/* background-color: aqua; */
}
#b2_prod1 {
    position: relative;
    top: 32px;
    width: 240;
    height: 261px;
    z-index: 5;
    background-image: url(../../../images/2018/home/mast_alu.jpg);
    background-repeat: no-repeat;
    background-size: 240px;
    float: left;
    margin-left: 37;
}
#b2_prod2 {
	position: relative;
	top: 32px;
	width: 240;
	height: 261px;
	z-index: 5;
	background-image: url(../../../images/2018/home/bands_estados.jpg);
	background-repeat: no-repeat;
	background-size: 240px;
	float: left;
	margin-left: 15px;
}
#b2_prod3 {
	position: relative;
	top: 32px;
	width: 240;
	height: 261px;
	z-index: 5;
	background-image: url(../../../images/2018/home/mast_alu.jpg);
	background-repeat: no-repeat;
	background-size: 240px;
	float:left;
	margin-left: 15px;
}
#b2_prod4 {
	position: relative;
	top: 32px;
	width: 240;
	height: 261px;
	z-index: 5;
	background-image: url(../../../images/2018/home/bands_muni.jpg);
	background-repeat: no-repeat;
	background-size: 240px;
	float: left;
	margin-left: 15px;
}
#txt_prodb2 {
	position: absolute;
	top: 245px;
	width: 233;
	height: 24px;
	z-index: 5;
}
#bloco3 {
	position: relative;
	width: 1080;
	height: 540px;
	z-index: 5;
}
#b3_prod1 {
	position: absolute;
	top: 68px;
	width: 309px;
	height: 470px;
	z-index: 3;
	background-image: url(../../../images/2018/home/kit_latao.jpg);
	background-repeat: no-repeat;
	background-size: 330px;
	left: 37px;
}
#b3_prod2 {
    position: absolute;
    left: 373px;
    top: 68;
    width: 335px;
    height: 244px;
    z-index: 3;
    background: url(../../../images/2018/home/b_madeira.jpg),url(../../../images/2018/home/b_madeira2.jpg) top right;
    background-repeat: no-repeat;
    /* background-size: 220px; */
}
#b3_prod3 {
    position: absolute;
    left: 373px;
    top: 301px;
    width: 335px;
    height: 234px;
    z-index: 3;
    background: url(../../../images/2018/home/talab_boldrie.jpg),url(../../../images/2018/home/luvas.jpg) top right;
    background-repeat: no-repeat;
}
#b3_prod4 {
	position: absolute;
	left: 735px;
	top: 68;
	width: 303px;
	height: 453px;
	z-index: 6;
	background-image: url(../../../images/2018/home/kit_fachada.jpg);
	background-repeat: no-repeat;
	background-size: 332px;
}
#txt_prod4 {
    position: absolute;
    top: 428px;
    width: 275px;
    height: 37px;
    z-index: 3;
    text-align: center;
    left: 12;
}
#especiais {
    position: relative;
    top: 20;
    width: 1080;
    height: 178px;
    z-index: 6;
}
#secoes_esp {
	position: relative;
	left: 77px;
	top: 46px;
	width: 134px;
	height: 44px;
	z-index: 7;
	float: left;
}
#secoes_esp2 {
	position: relative;
	left: 77px;
	top: 46px;
	width: 134px;
	height: 44px;
	z-index: 7;
	float: left;
	margin-right: 20;
}
#txt_esp {
	position: absolute;
	left: 45px;
	top: 2px;
	width: 76px;
	height: 29px;
	z-index: 8;
	font-family: "Segoe UI";
	line-height: 17px;
	font-size: 14px;
	color: #04753D;
}

#tit_esp {
	position: absolute;
	left: 406px;
	top: 6px;
	width: 165px;
	height: 16px;
	z-index: 7;
	font-family: "Segoe UI";
	font-size: 24px;
	color: #1C655E;
	letter-spacing: -1px;
}
#desc_carrossel {
    position: absolute;
    top: 2px;
    width: 151px;
    height: 21px;
    z-index: 2;
    margin-left: 110px;
}
.txt_car_cinza {
	font-family: "Segoe UI";
	font-size: 13px;
	color: #666;
}
.txt_car_verde {
	font-family: "Segoe UI";
	font-size: 16px;
	color: #155C4A;
	font-weight: bold;
}

