.rodape {
   font-family:Myriad Pro ; 
   font-size: 30pt ;
   font-color: black
}
.subtit {
   font-family:Segoe UI ; 
   font-size: 20pt ;
   font-color: #CCC
}
.titulo {
	font-family: "Myriad Pro";
	font-size: 30px;
	color: #063;
}

#Bandeira {
	position:absolute;
	left:22px;
	top:209px;
	width:149px;
	height:98px;
	z-index:1;
}
#subbandeiras {
	position:absolute;
	left:25px;
	top:256px;
	width:182px;
	height:199px;
	z-index:2;
	font-family: "Myriad Pro";
	color: #999;
	font-size: 11pt;
}

a:hover {
	text-decoration: none;
	color: #003;
}
a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:active {
	text-decoration: none;
}
#basesup {
	position:absolute;
	left:22px;
	top:473px;
	width:185px;
	height:39px;
	z-index:3;
}
#subbasesup {
	position:absolute;
	left:25px;
	top:538px;
	width:182px;
	height:103px;
	z-index:4;
	font-size: 11pt;
	color: #999;
}
#distintivos {
	position:absolute;
	left:13px;
	top:663px;
	width:184px;
	height:54px;
	z-index:3;
}
#subdistintivo {
	position:absolute;
	left:24px;
	top:687px;
	width:183px;
	height:110px;
	z-index:4;
	font-size: 11pt;
	color: #999;
}
#acessorios {
	position:absolute;
	left:14px;
	top:813px;
	width:185px;
	height:54px;
	z-index:3;
}
#subacess {
	position:absolute;
	left:25px;
	top:834px;
	width:182px;
	height:161px;
	z-index:4;
	font-size: 11pt;
	color: #999;
}
#tb {
	position:absolute;
	left:24px;
	top:1015px;
	width:149px;
	height:60px;
	z-index:1;
}
#subtb {
	position:absolute;
	left:25px;
	top:1087px;
	width:166px;
	height:161px;
	z-index:4;
	font-size: 11pt;
	color: #999;
	font-family: "Segoe UI";
}
#apDiv2 {
	position:absolute;
	left:20px;
	top:1209px;
	width:177px;
	height:55px;
	z-index:5;
}
#info {
	position:absolute;
	left:22px;
	top:1267px;
	width:150px;
	height:81px;
	z-index:5;
	color: #FC3;
}
#subinfo {
	position:absolute;
	left:25px;
	top:1346px;
	width:182px;
	height:161px;
	z-index:4;
	font-size: 11pt;
	color: #999;
	font-family: "Segoe UI";
}
#redes {
	position:absolute;
	left:22px;
	top:1514px;
	width:181px;
	height:81px;
	z-index:6;
	color: #06C;
}
#subredes {
	position:absolute;
	left:25px;
	top:1596px;
	width:182px;
	height:161px;
	z-index:4;
	font-size: 11pt;
	color: #999;
	font-family: "Segoe UI";
}
.subtit1 {   font-family:Segoe UI ; 
   font-size: 20pt ;
   font-color: #CCC
}
.subtit2 {   font-family:Segoe UI ; 
   font-size: 20pt ;
   font-color: #CCC
}
#linhatb {
	position:absolute;
	left:12px;
	top:986px;
	width:195px;
	height:39px;
	z-index:7;
}
#linhainfo {
	position:absolute;
	left:15px;
	top:1238px;
	width:192px;
	height:42px;
	z-index:7;
}
#linharedes {
	position:absolute;
	left:13px;
	top:1486px;
	width:194px;
	height:49px;
	z-index:7;
}
#linhaacess {
	position:absolute;
	left:12px;
	top:777px;
	width:198px;
	height:49px;
	z-index:7;
}
#linhabasesup {
	position:absolute;
	left:12px;
	top:446px;
	width:198px;
	height:46px;
	z-index:7;
}
#linhadistint {
	position:absolute;
	left:13px;
	top:628px;
	width:198px;
	height:43px;
	z-index:7;
}
