@charset "utf-8";
/* CSS Document */

#tudo {
position: absolute;
left: -40px;
top: 1780px;
width: 661px;
height: 334px;
z-index: 34;
}

#barraverde {
	position:absolute;
	left: 270px;
	top:2px;
	width: 735px;
	height:25px;
	z-index:1;
	background-color: #006633;
}
#fundocinza {
position: absolute;
left: 270px;
top: 26px;
width: 735px;
height: 295px;
z-index: 2;
color: #CCC;
background-color: #E6E6E6;
}

#atendimento {
	position:absolute;
	left: 288px;
	top:36px;
	width:92px;
	height:29px;
	z-index:3;
	font-family: "Myriad Pro";
	font-size: 17px;
}
#segasexta {
	position:absolute;
	left: 288px;
	top:56px;
	width:199px;
	height:20px;
	z-index:4;
	font-family: "Segoe UI";
	font-size: 12px;
}
#televendas {
	position:absolute;
	left: 288px;
	top:97px;
	width:99px;
	height:27px;
	z-index:5;
	font-family: "Myriad Pro";
	font-size: 17px;
}
#imgatend {
	position:absolute;
	left: 288px;
	top:118px;
	width:29px;
	height:36px;
	z-index:6;
}
#tels {
	position:absolute;
	left: 318px;
	top:120px;
	width:102px;
	height:33px;
	z-index:7;
	font-family: "Segoe UI";
	font-size: 12px;
}
#duv {
	position:absolute;
	left: 288px;
	top:205px;
	width:150px;
	height:30px;
	z-index:8;
	font-family: "Myriad Pro";
	font-size: 17px;
}
#emailduv {
	position:absolute;
	left: 315px;
	top:236px;
	width:163px;
	height:23px;
	z-index:9;
	font-family: "Segoe UI";
	font-size: 12px;
}
#emailvendas {
	position:absolute;
	left: 312px;
	top:159px;
	width:147px;
	height:19px;
	z-index:10;
	font-family: "Segoe UI";
	font-size: 12px;
}
#online {
	position:absolute;
	left: 324px;
	top:265px;
	width:114px;
	height:26px;
	z-index:11;
	font-family: "Segoe UI";
	font-size: 12px;
}
#imgchat {
	position:absolute;
	left: 286px;
	top:265px;
	width:23px;
	height:29px;
	z-index:12;
}
#barrah {
	position:absolute;
	left: 480px;
	top:23px;
	width:11px;
	height:280px;
	z-index:13;
}
#imgduv {
	position:absolute;
	left: 286px;
	top:235px;
	width:22px;
	height:20px;
	z-index:14;
}
#imgvendas {
	position:absolute;
	left: 286px;
	top:156px;
	width:29px;
	height:24px;
	z-index:15;
}
#acesse {
	position:absolute;
	left:508px;
	top:36px;
	width:122px;
	height:24px;
	z-index:16;
	font-family: "Myriad Pro";
	font-size: 17px;
}
#institucional {
	position:absolute;
	left:508px;
	top:72px;
	width:156px;
	height:141px;
	z-index:17;
	font-family: "Segoe UI";
	font-size: 11px;
	color: #063;
}
#linhah2 {
	position:absolute;
	left: 665px;
	top:23px;
	width:14px;
	height:284px;
	z-index:18;
}
#thawte {
	position:absolute;
	left: 691px;
	top:36px;
	width:56px;
	height:52px;
	z-index:19;
}
#uol {
	position:absolute;
	left: 762px;
	top:35px;
	width:61px;
	height:38px;
	z-index:20;
}
#blindado {
	position:absolute;
	left: 763px;
	top:82px;
	width:80px;
	height:21px;
	z-index:21;
}
#ebit {
	position:absolute;
	left: 849px;
	top:37px;
	width:61px;
	height:61px;
	z-index:22;
}
#komerce {
	position:absolute;
	left: 914px;
	top:38px;
	width:66px;
	height:63px;
	z-index:23;
}
#linhavertical {
	position:absolute;
	left: 690px;
	top:106px;
	width:297px;
	height:15px;
	z-index:24;
}
#formapagto {
	position:absolute;
	left: 694px;
	top: 128px;
	width:182px;
	height:23px;
	z-index:25;
	font-family: "Myriad Pro";
	font-size: 17px;
}
#cartcred {
	position:absolute;
	left: 694px;
	top:145px;
	width:114px;
	height:19px;
	z-index:26;
	font-family: "Segoe UI";
	font-size: 12px;
}
#texto {
	font-family: "Segoe UI";
	font-size: 12px;
}
#cartoes {
position: absolute;
left: 690px;
top: 165px;
width: 225px;
height: 110px;
z-index: 27;

}

#depbanc {
	position:absolute;
	left: 695px;
	top:204px;
	width:102px;
	height:20px;
	z-index:28;
	font-family: "Segoe UI";
	font-size: 12px;
}
#bancos {
	position:absolute;
	left: 693px;
	top:224px;
	width:173px;
	height:21px;
	z-index:29;
}
#cartdeb {
	position:absolute;
	left: 696px;
	top:262px;
	width:99px;
	height:15px;
	z-index:30;
	font-family: "Segoe UI";
	font-size: 12px;
}
#imgdeb {
	position:absolute;
	left: 694px;
	top:281px;
	width:41px;
	height:10px;
	z-index:31;
}
#bol {
	position:absolute;
	left: 827px;
	top:264px;
	width:104px;
	height:13px;
	z-index:32;
	font-family: "Segoe UI";
	font-size: 12px;
}
#boleto {
	position:absolute;
	left: 823px;
	top:281px;
	width:46px;
	height:0px;
	z-index:33;
}