	* {
		margin: 0;
		padding: 0;
	}
	
	img {
		border: none; 
                                *margin: 0 -3px 0 -3px;
	}
	
	a {
		text-decoration: none;
	}

	#tudobandeiras {
		width: 870px;
		font-family: Tahoma, Geneva, sans-serif;
                
		margin: 3px 0 0 0;
	}
	
	div.modelo {
position: relative;
float: left;
height: 27px;
/* margin: 10px 0px 0px; */
background-image: url('../../images/barras/flamulas.gif');
background-repeat: no-repeat;
width: 877px;

padding-bottom: 20;
}
	
	h1.modelobandeiras {
		position: relative;
		float: left;
		color: #8a9e8d;
		font-size: 230%;
		letter-spacing: -1.7px;
		font-weight: normal;
		line-height: 100%;
	}
	
	div.tipo {
		width: 870px;
		height: 55px;
		position: relative;
		float: left;
		display: inline;
	}
	
	#espaco {
		height: 35px;
	}
	
	img.square {
		position: relative;
		float: left;
		clear: both;
		margin: 26px 0 0 1px;
	}
	
	p.subtitulobones {
		position: relative;
		float: left;
		font-size: 16px;
		color: #777;
		margin: 20px 0 0 5px;
	}
	
	div.bandeirasp {
		width: 120px;
		height: 173px;
		position: relative;
		float: left;
		margin: 0 33px 26px 11px;
		display: inline;		
	}
	
	img.imgnaut {
	width: 120px;
	height: 155px;
	position: relative;
	float: left;
	}
	
	span.nomenaut {
		width: 120px;
		height: 18px;
		position: relative;
		float: left;
		text-align: center;
		font-size: 96%;
		color: #848581;
	}
	
	span.nomenautg {
		width: 108px;
		height: 18px;
		position: relative;
		float: left;
		text-align: center;
		font-size: 75%;
		line-height: 100%;
		color: #848581;
	}
	
	div.bandeiras {
		width: 120px;
		height: 173px;
		position: relative;
		float: left;
		margin: 0 33px 26px 0;
	}
	
	div.bandeirasu {
		width: 120px;
		height: 173px;
		position: relative;
		float: left;
		margin: 0 5px 26px 0;
	}
	
	div.fotos1 {
		position: relative;
		float: left;
		width: 80px;
		height: 176px;
		margin: 0 0 37px 0;
		background-image: url(../../images/flamulas/fotos01.gif);
	}
	
	div.fotos2 {
		position: relative;
		float: left;
		width: 790px;
		height: 176px;
		background-image: url(../../images/flamulas/fotos02.gif);
		background-repeat: repeat-x;
		margin: 0 0 37px 0;
	}
	
	div.jogoestados {
	display: inline;
	width: 270px;
	height: 176px;
	position: relative;
	float: left;
	margin: 0 10px 0 0;
	}

	div.jogoestados2 {
	display: inline;
	width: 120px;
	height: 176px;
	position: relative;
	float: left;
	margin: 0 10px 0 0;
	}	
	