		* {
		margin: 0;
		padding: 0;
	}
	
	img {
		border: none;
	}
	
	a {
		text-decoration: none;
	}

	#tudobandeiras {
		width: 770px;
		font-family: Tahoma, Geneva, sans-serif;
	}
	
	div.modelo {
		position: relative;
		float: left;
		background-color: #163d1b;
		width: 736px;
		height: 37px;
		padding: 0 0 0 10px;
		margin: 23px 0 0 0;
	}
	
	h1.modelobandeiras {
		position: relative;
		float: left;
		color: #8a9e8d;
		font-size: 230%;
		letter-spacing: -1.7px;
		font-weight: normal;
		line-height: 100%;
	}
	
	div.tipo {
		width: 735px;
		height: 55px;
		position: relative;
		float: left;
		display: inline;
	}
	
	#espaco {
		height: 35px;
	}
	
	img.square {
		position: relative;
		float: left;
		clear: both;
		margin: 26px 0 0 1px;
	}
	
	p.subtitulobones {
		position: relative;
		float: left;
		font-size: 16px;
		color: #777;
		margin: 20px 0 0 5px;
	}
	
	div.bandeirasp {
		width: 108px;
		height: 93px;
		position: relative;
		float: left;
		margin: 0 46px 26px 10px;
		*margin: 0 38px 26px 10px;
		display: inline;		
	}
	
	img.imgnaut {
		width: 108px;
		height: 75px;
		position: relative;
		float: left;
	}
	
	span.nomenaut {
		width: 108px;
		height: 18px;
		position: relative;
		float: left;
		text-align: center;
		font-size: 96%;
		color: #848581;
	}
	
	span.nomenautg {
		width: 108px;
		height: 18px;
		position: relative;
		float: left;
		text-align: center;
		font-size: 75%;
		line-height: 100%;
		color: #848581;
	}
	
	div.bandeiras {
		width: 108px;
		height: 93px;
		position: relative;
		float: left;
		margin: 0 46px 26px 0;
		*margin: 0 38px 26px 0;
		display: inline;
	}
	
	div.bandeirasu {
		width: 108px;
		height: 93px;
		position: relative;
		float: left;
		margin: 0 11px 26px 0;
		display: inline;
	}
	
	div.fotos1 {
		position: relative;
		float: left;
		width: 80px;
		height: 176px;
		margin: 0 0 37px 0;
		background-image: url(../../images/estados/fotos01.gif);
	}
	
	div.fotos2 {
		position: relative;
		float: left;
		width: 666px;
		height: 176px;
		background-image: url(../../images/estados/fotos02.gif);
		background-repeat: repeat-x;
		margin: 0 0 37px 0;
	}
	
	div.jogoestados {
		display: inline;
		width: 224px;
		height: 176px;
		position: relative;
		float: left;
		margin: 0 50px 0 0;
	}
	
	div.jogoestados2 {
		display: inline;
		width: 182px;
		height: 176px;
		position: relative;
		float: left;
	}

	

	
	
	
	
	