	* {
		margin: 0;
		padding: 0;
	}
	
	img {
		border: none;
	}


	#tudoproduto {
		width: 877px;
		font-family: Tahoma, Geneva, sans-serif;
                
	}
	
	div.modelo {
position: relative;
float: left;
height: 27px;
/* margin: 10px 0px 0px; */
background-image: url('../../images/barras/camfeminina.gif');
background-repeat: no-repeat;
width: 877px;

padding-bottom: 20;
}


	
	div.flash {
		width: 746px;
		height: 435px;
		position: relative;
		float: left;
	}
	
	h1.modeloproduto {
		position: relative;
		float: left;
		color: #8a9e8d;
		font-size: 230%;
		letter-spacing: -1.7px;
		font-weight: normal;
		line-height: 100%;
	}
	
	div.tipo {
		width: 875px;
		height: 55px;
		position: relative;
		float: left;		
	}
	
	img.square {
		position: relative;
		float: left;
		clear: both;
		margin: 26px 0 0 1px;
	}
	
	p.subtituloproduto {
		position: relative;
		float: left;
		font-size: 16px;
		color: #777;
		margin: 20px 0 0 5px;
	}
	
	div.fotos1 {
		position: relative;
		float: left;
		width: 35px;
		height: 144px;
		margin: 0 0 22px 0;
		background-image: url(../../images/camisetasfem/bg_fotos01.gif);
	}
	
	div.fotos2 {
		position: relative;
		float: left;
		width: 840px;
		height: 144px;
		background-image: url(../../images/camisetasfem/bg_fotos02.gif);
		background-repeat: repeat-x;
		margin: 0 0 22px 0;
	}
	
	div.fotos3 {
		position: relative;
		float: left;
		width: 35px;
		height: 143px;
		margin: 0 0 22px 0;
		background-image: url(../../images/camisetasfem/bg_fotos03.gif);
	}
	
	div.fotos4 {
		position: relative;
		float: left;
		width: 840px;
		height: 143px;
		background-image: url(../../images/camisetasfem/bg_fotos04.gif);
		background-repeat: repeat-x;
		margin: 0 0 22px 0;
	}
	
	div.fotos5 {
		position: relative;
		float: left;
		width: 35px;
		height: 145px;
		margin: 0 0 22px 0;
		background-image: url(../../images/camisetasfem/bg_fotos05.gif);
	}
	
	div.fotos6 {
		position: relative;
		float: left;
		width: 840px;
		height: 145px;
		background-image: url(../../images/camisetasfem/bg_fotos06.gif);
		background-repeat: repeat-x;
		margin: 0 0 22px 0;
	}
	
	div.fotos7 {
		position: relative;
		float: left;
		width: 35px;
		height: 146px;
		margin: 0 0 22px 0;
		background-image: url(../../images/camisetasfem/bg_fotos07.gif);
	}
	
	div.fotos8 {
		position: relative;
		float: left;
		width: 840px;
		height: 146px;
		background-image: url(../../images/camisetasfem/bg_fotos08.gif);
		background-repeat: repeat-x;
		margin: 0 0 22px 0;
	}
	
	div.ab1 {
		display: inline;
		width: 114px;
		height: 144px;
		position: relative;
		float: left;
		margin: 0 0 0 23px;
	}	
	
	div.am1 {
		width: 115px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 22px;
	}
	
	div.ba1 {
		width: 122px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 17px;
	}
	
	div.bv1 {
		width: 110px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 20px;
	}
	
	div.ma1 {
		width: 112px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 25px;
	}
	
	div.mb1 {
		display: inline;
		width: 113px;
		height: 143px;
		position: relative;
		float: left;
		margin: 0 0 0 24px;
	}	
	
	div.ol1 {
		width: 112px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 24px;
	}
	
	div.rs1 {
		width: 113px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 23px;
	}
	
	div.vb1 {
		width: 117px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 19px;
	}
	
	div.ab2 {
		width: 110px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 23px;
	}
	
	div.am2 {
		width: 117px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 23px;
	}
	
	div.br2 {
		width: 111px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 22px;
	}
	
	div.bv2 {
		width: 118px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 22px;
	}
	
	div.bz2 {
		width: 117px;
		height: 143px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 19px;
	}
	
	div.ma2 {
		width: 115px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 19px;
	}
	
	div.ol2 {
		width: 116px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 21px;
	}
	
	div.rs2 {
		width: 116px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 21px;
	}
	
	div.vb2 {
		width: 120px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 19px;
	}
	
	div.ab3 {
		width: 115px;
		height: 145px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 23px;
	}
	
	div.am3 {
		width: 118px;
		height: 145px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 19px;
	}
	
	div.ba3 {
		width: 121px;
		height: 145px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 17px;
	}
	
	div.bv3 {
		width: 119px;
		height: 145px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 15px;
	}
	
	div.bz3 {
		width: 117px;
		height: 145px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 18px;
	}
	
	div.ma3 {
		width: 117px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 23px;
	}
	
	div.ol3 {
		width: 115px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 20px;
	}
	
	div.rs3 {
		width: 121px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 17px;
	}
	
	div.vb3 {
		width: 117px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 17px;
	}
	
	div.aa4 {
		width: 69px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 49px;
	}
	
	div.ab4 {
		width: 74px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 62px;
	}
	
	div.am4 {
		width: 67px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 65px;
	}
	
	div.ba4 {
		width: 72px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 66px;
	}
	
	div.bv4 {
		width: 74px;
		height: 144px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 58px;
	}
	
	div.ma4 {
		width: 71px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 48px;
	}
	
	div.mb4 {
		width: 71px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 62px;
	}
	
	div.ol4 {
		width: 69px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 67px;
	}
	
	div.rs4 {
		width: 76px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 63px;
	}
	
	div.vb4 {
		width: 72px;
		height: 146px;
		display: inline;
		position: relative;
		float: left;
		margin: 0 0 0 56px;
	}