@charset "utf-8";
/* CSS Document */
*{
	border:0;
	padding:0;
	margin:0;
	
	}

#geral{
	position:relative;
	float:right;
	width: 753px;
	height:auto;
	overflow:hidden;

	}
#topo1{
	position:relative;
	float:left;
	width:392px;
	height:503px;
	background-image:url("../../images/bandtoc/1.jpg");
	background-repeat:no-repeat;
	
	}
#topo2{
	position:relative;
	float:left;
	width:361px;
	height:503px;
	background-image:url("../../images/bandtoc/2.jpg");
	background-repeat:no-repeat;
	
	}
#topo3{
	position:relative;
	float:left;
	width:392px;
	height:460px;
	background-image:url("../../images/bandtoc/3.jpg");
	background-repeat:no-repeat;
	
	}
#topo4{
	position:relative;
	float:left;
	width:361px;
	height:460px;
	background-image:url("../../images/bandtoc/4.jpg");
	background-repeat:no-repeat;
	
	}
	
#geral_produtos{
	position:relative;
	float:left;
	margin-top: 30px;
	background-color: #fff;
	background-image:url("/../../images/bandtoc/fundo_info.gif");
	background-repeat:no-repeat;
	width:753px;
	height:1100px;
	padding-bottom: 100px;
	}	
#lancamento {
	height: 170px;
	width: 753px;
	position: absolute;
	left: 0;
	top: -151px;
	z-index:100;
	background-image:url("../../images/bandtoc/lancamento.png");
	background-repeat:no-repeat;
} 

#produto1{
	position:relative;
	float:left;
	width:360px;
	height:300px;
	margin-top: 30px;
	
}
#produto1 img{
	position:relative;
	float:left;
	margin-top: 0;
	
	
	
}
#conteudoP1{
	position:absolute;
	width:300px;
	height:154px;
	z-index: 101;
	left: 59px;
	top: 132px;
	clear: both;
}

#produto2{
	position:relative;
	float:left;
	width:393px;
	height:300px;
	margin-top: 30px;
	
	
}
#produto2 img{
	position:relative;
	float:left;
	margin-top: 0px;
	margin-left:0px;
	
	
}
#conteudoP2{
	position:absolute;
	width:300px;
	height:153px;
	z-index: 101;
	left: 92px;
	top: 138px;
	
	
}

#produto3{
	position:relative;
	float:left;
	width:350px;
	height:300px;
	margin-top: 0x;
	
	
}
#produto3 img{
	position:relative;
	float:left;
	margin-top: 0px;
	margin-left:0px;
	
	
}
#conteudoP3{
	position:absolute;
	width:282px;
	height:147px;
	z-index: 101;
	left: 52px;
	top: 200px;
	
	
}
#produto4{
	position:relative;
	float:left;
	width:403px;
	height:300px;
	margin-top: 0x;
	
	
}
#produto4 img{
	position:relative;
	float:left;
	margin-top: 0;
	margin-left:0px;
	
	
}

#conteudoP4{
	position:absolute;
	width:321px;
	height:143px;
	z-index: 101;
	left: 56px;
	top: 163px;
	
}

	

.texto {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 0px;
	margin-top: 40px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#preco1{
	position:absolute;
	width:111px;
	height:67px;
	z-index:110;
	background-image:url("../../images/bandtoc/preco1.png");
	background-repeat:no-repeat;
	left: 103px;
	top: 82px;
	}
#preco2{
	position:absolute;
	width:111px;
	height:67px;
	z-index:110;
	background-image:url("../../images/bandtoc/preco2.png");
	background-repeat:no-repeat;
	left: 103px;
	top: 82px;
	}

#preco3{
	position:absolute;
	width:111px;
	height:67px;
	z-index:110;
	background-image:url("../../images/bandtoc/preco3.png");
	background-repeat:no-repeat;
	left: 105px;
	top: 77px;
	}

#preco4{
	position:absolute;
	width:111px;
	height:68px;
	z-index:110;
	background-image:url("../../images/bandtoc/preco4.png");
	background-repeat:no-repeat;
	left: 103px;
	top: 82px;
	}
